<body class="pb-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-content-center pt-5  ">
            <div class="col-md-6 text-center mt-1  ">
                <div class="header fw-bolder fs-1">CONTACT SECTION</div>
            </div>
        </div>    
        <div class="row -flex justify-content-center align-content-center pt-5">
            <div class="col-md-7">
                <input class="form-control my-5 border-top-0 border-start-0  " type="text" placeholder="UserName">
                <input class="form-control my-5 border-top-0 border-start-0" type="number" placeholder="UserAge">
                <input class="form-control my-5 border-top-0 border-start-0" type="email" placeholder="UserEmail">
                <input class="form-control my-5 border-top-0 border-start-0" type="password" placeholder="UserPassword">
                <button class="btn btn-info text-white ">Send Message</button>
            </div>
        </div>
        </div>
</body>
