.header{
    color: #2C3E50;
}

.header{
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    left: 25%;
    bottom: -20%;
    height: 4px;
    width: 100px;
    background-color: #2C3E50;
}
.header::after{
    content: '';
    position: absolute;
    right:25%;
    bottom: -20%;
    height: 4px;
    width: 100px;
    background-color: #2C3E50;
}


.product{
    position: relative;
}

.layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none; 
    transition-duration: 0.5s;
    cursor: pointer;
}

.product:hover .layer{
display: flex;
}

.layer i{
    font-size: 100px;
}