<body class="pb-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-content-center pt-5  ">
            <div class="col-md-6 text-center text-white mt-1  ">
                <div class="header fw-bolder fs-1">PORTFOLIO COMPONENT

                </div>
            </div>
        </div>
            <div class="row mt-5">
                <div class="col-md-4 p-3  rounded-2 ">
                    <div class="product p-0 ">
                        <div class="layer rounded-2" (click)="sendsrc(imgsrc.src)"><i class="fa-solid fa-plus text-white  "></i></div>
                        <img #imgsrc class="w-100 img-fluid rounded-2 "   src="./../../../assets/poert1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 p-3  rounded-2 ">
                    <div class="product p-0 ">
                        <div class="layer rounded-2"><i class="fa-solid fa-plus text-white  "></i></div>
                        <img class="w-100 img-fluid rounded-2  " src="./../../../assets/poert2.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 p-3  rounded-2 ">
                    <div class="product p-0 ">
                        <div class="layer rounded-2"><i class="fa-solid fa-plus text-white  "></i></div>
                        <img class="w-100 img-fluid rounded-2  " src="./../../../assets/poert3.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 p-3  rounded-2 ">
                    <div class="product p-0 ">
                        <div class="layer rounded-2"><i class="fa-solid fa-plus text-white  "></i></div>
                        <img class="w-100 img-fluid rounded-2  " src="./../../../assets/poert1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 p-3  rounded-2 ">
                    <div class="product p-0 ">
                        <div class="layer rounded-2"><i class="fa-solid fa-plus text-white  "></i></div>
                        <img class="w-100 img-fluid rounded-2  " src="./../../../assets/poert2.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 p-3  rounded-2 ">
                    <div class="product p-0 ">
                        <div class="layer rounded-2"><i class="fa-solid fa-plus text-white  "></i></div>
                        <img class="w-100 img-fluid rounded-2  " src="./../../../assets/poert3.png" alt="">
                    </div>
                </div>
               
            </div>
            
            
        </div>

        
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
    Launch static backdrop modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
</body>
