body{
    background-color: #1ABC9C;
}

.header{
    position: relative;
}

.header::before{
    content: '';
    position: absolute;
    left: 20%;
    bottom: -20%;
    height: 4px;
    width: 100px;
    background-color: #fff;
}
.header::after{
    content: '';
    position: absolute;
    right:20%;
    bottom: -20%;
    height: 4px;
    width: 100px;
    background-color: #fff;
}